<!-- Much of the following has been adapted from http://www.dclunie.com/pixelmed/software/webstart/DicomCleaner.html -->
<script src="http://www.java.com/js/deployJava.js"></script>
<script language="JavaScript"><!--
	var serverUrl = "$!serverUrl";
	if (serverUrl.length > 0) {
		if (serverUrl.charAt(serverUrl.length-1) != '/')
			serverUrl += '/';
	
		var webstartFile = "webstart.jnlp";
		var webstartUrl = serverUrl + "uploader/" + webstartFile;
		document.write("<p>In case the GIFT-Cloud Uploader is not launched automatically:</p>");
		document.write("<ul>");
		document.write("<li>Check your browser downloads for a file named <strong>" + webstartFile + "</strong></li>");
		document.write("<li>Run this file by double clicking</li>")
		document.write("</ul>");
		document.write("<p>(Alternatively, you can manually download this file from <a href=\"" + webstartUrl + "\">" + webstartUrl + "</a>)</p>");
		document.write("<br/><br/>")
		document.write("<p>GIFT-Cloud Uploader uses the <a href=\"https://java.com/en/download/faq/java_webstart.xml\">Java webstart</a> technology.</p>")
	
		var minimumVersion = '1.6';
	
		if (deployJava.isWebStartInstalled(minimumVersion)) {
			deployJava.launch(webstartUrl);
		}
		else {
			if (deployJava.installLatestJRE()) {
				intervalID = setInterval("launchOurJNLP()",100);	// no var so global
			}
			else {
				alert("Cannot run without Java "+minimumVersion+" or more recent installed, and cannot automatically install it");
			}
		}
	}
	else {
		alert("Server URL could not be obtained. Contact system admin for assistance.");
	}
	
	function launchOurJNLP() {
		if (deployJava.isWebStartInstalled(minimumVersion)) {
			clearInterval(intervalID);
			deployJava.launch(webstartUrl);
		}
	}
//--></script>
